[Unit]
Description=Apply global Flatpak GTK config overrides
After=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak override --filesystem=xdg-config/gtk-3.0:ro
ExecStart=/usr/bin/flatpak override --filesystem=xdg-config/gtk-4.0:ro
ExecStart=/usr/bin/flatpak override --env=QT_QPA_PLATFORMTHEME=qt6ct
ExecStart=/usr/bin/flatpak override --env=QT_QPA_PLATFORMTHEME_QT6=qt6ct

[Install]
WantedBy=multi-user.target
