[Unit]
Description=Zena Setup
ConditionPathExists=!/var/lib/zena-setup.done
Before=display-manager.service greetd.service sddm.service
After=basic.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/run-zena-setup.sh
RemainAfterExit=yes
TimeoutStopSec=30s

[Install]
WantedBy=basic.target
