[Unit]
Description=Zena Setup
ConditionPathExists=!/var/lib/zena-setup.done
Before=greetd.service getty@tty1.service
After=home.mount systemd-homed.service

[Service]
Type=simple
ExecStart=/usr/libexec/run-zena-setup.sh
IgnoreSIGPIPE=no
SendSIGHUP=yes
TimeoutStopSec=30s
KeyringMode=shared
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitInterval=30

[Install]
WantedBy=graphical.target
