spawn-at-startup "/usr/libexec/zena-setup"

input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        drag-lock
        natural-scroll
        scroll-method "two-finger"
    }
}

hotkey-overlay {
    skip-at-startup
}

gestures {
  hot-corners {
    off
  }
}

layout {
  background-color "#000000"
}

binds {
    Mod+Q { quit; }
}
